
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows any user to read, write, and list any document.
    // It is completely open and should be secured before production.
    match /{document=**} {
      allow read, write, list: if true;
    }
  }
}
